<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="note.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title>Notes</title>
</head>
<body>
    <div id="app">
        <button v-on:click="visible = true">tilføj note</button>
        <button v-on:click="visible1 = true">Ændre noter</button>
        <div class="notes">
            <div class="note" 
            v-for="(note, i) in notes"
            :style=" 'background-color:' + note.color ">
                <h3>{{ note.title }}</h3>
                <p>{{ note.body }}</p>
                <div>{{ note.createdAt }}</div>
               
                <div class="changeThisNote"  v-if="visible1">
                    <input type="text" v-model="changeTitle" placeholder="Title">
                    <input type="text" v-model="changeBody" placeholder="Tekst">
                    <input type="color" v-model="changeColor">
                    <button v-on:click="changeNote(i)">ændre note</button>

                </div>

            </div>
        </div>

     

        <div class="modal" v-if="visible">

            <div class="back-div" v-on:click="visible = false"></div>

            <div class="content">
                <button v-on:click="visible = false">Close</button>
                <label>
                    Titel<br>
                    <input type="text" v-model="title">
                </label>
                <label>
                    Tekst<br>
                    <textarea v-model="body"></textarea>
                </label>
                <label>
                    Color<br>
                    <input type="color" v-model="color">
                </label>
                <button v-on:click="addNote">Tilføj note</button>
            </div>
        </div>

        

    </div>

  




    <script>
        new Vue ({
            el: '#app',
            data: {

                notes: [],
                title: '',
                body: '',
                createdAt: null,
                color: '#00ff00',
                visible: false,
                visible1: false,
                changeTitle: '',
                changeBody: '',
                changeColor: '#00ff00',

            },

            beforeMount() {
                this.getLocal();
            },

            methods: {
                addNote() {
                    let note = {
                        title: this.title,
                        body: this.body,
                        createdAt: new Date(),
                        color: this.color,
                    };

                    this.notes.push(note);

                    this.saveLocal();

                    this.title = '',
                    this.body = '',
                    this.createdAt = null,
                    this.color = '#00ff00',
                    this.visible = false;
                },

           
                changeNote(i) {
                    let changeNote = {
                        changeTitle: this.changeTitle, 
                        changeBody: this.changeBody,
                        changeColor: this.changeColor,
                    };

                    this.notes[i].title = this.changeTitle;
                    this.notes[i].body = this.changeBody;
                    this.notes[i].color = this.changeColor;

                    this.saveLocal();

                    this.visible1 = false;
                    this.changeTitle = '';
                    this.changeBody = '';
                    this.changeColor = '#ff1493';
                    
                },

                saveLocal() {
                    const jsonNote = JSON.stringify(this.notes);
                    localStorage.setItem('notes', jsonNote);
                },

                getLocal() {
                    const notes = localStorage.getItem('notes');

                    if(notes == null) {
                        this.notes = [];
                    } else {
                        this.notes = JSON.parse(notes);
                    }


                   
                }
            },
        });
    </script>
</body>
</html>